{% extends "main.html" %} {% block content %} {% comment %}
<h1>This is a about_page</h1>
{% endcomment %}

<div class="about_image">
  <img
    src="https://static.vecteezy.com/system/resources/previews/045/364/384/non_2x/newspaper-dotted-halftone-texture-retro-print-spilled-ink-stain-splatter-overlay-background-vector.jpg"
    alt="about_image"
    class="about_image_a1"
    height="400px;"
    width="910px;"
  />
</div>
<div class="about_text">
  <div class="article_head">
    <h2>About Me</h2>
    <div class="article_p">
      <p class="article_p_1">My name is Rahul Haryan</p>
      <p>
        I am a Python Full Stack Developer with a strong passion for building
        efficient and scalable web applications. I have experience working with
        Django, Python, JavaScript, and front-end technologies, enabling me to
        develop dynamic and interactive websites. Currently, I am working on
        this project to enhance my skills in Django, particularly focusing on
        URLs, views, and Django Template Language (DTL) tags. This project
        serves as a hands-on learning experience to strengthen my understanding
        of how Django handles routing, rendering templates, and managing dynamic
        content. I am always eager to explore new technologies and refine my
        expertise in full-stack development. My goal is to build
        high-performance applications that deliver seamless user experiences.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
