{% extends 'main.html' %}
{% block content %}
  <center>
    <div class="business_1">
      <div class="business_image1">
        <img src="https://media.istockphoto.com/id/950639350/photo/modern-skyscrapers-shot-with-perspective.jpg?s=612x612&w=0&k=20&c=_zaAAbcbBm1pRLTSVd7Hc-95xecFXijh0_raViUER1M=" alt="business" height="300px;" width="910px;" />
      </div>
      {% for i in article_data %}
        <div class="article_business">
          <a class="business_a_tag" href="{% url 'read_business' i.id %}">
            <p>{{ i.id|upper }}</p>
            <h2>{{ i.title }}</h2>
            <p>{{ i.desc|truncatechars:200 }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </center>
{% endblock %}
