{% extends 'main.html' %}
{% block content %}
  <center>
    <div class="politics_1">
      <div class="politics_image1">
        <img src="https://im.hunt.in/cg/iol/About/Profile/Politics/Salt-March.jpg" alt="business" height="300px;" width="910px;" />
      </div>
      {% for i in article_data %}
        <div class="article_politics">
          <a class="politics_a_tag" href="{% url 'read_politics' i.id %}">
            <p>{{ i.id|upper }}</p>
            <h2>{{ i.title }}</h2>
            <p>{{ i.desc|truncatechars:200 }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </center>
{% endblock %}
