{% extends "main.html" %}
{% block content %}
<center>
  <div class="read_goverment_container">
    <div class="read_goverment_card">

      <img class="read_goverment_img" src="https://im.hunt.in/cg/iol/About/Profile/Politics/Salt-March.jpg" alt="Government Image">

      <h2 class="data_politics_aa1">PRESS-RELEASE-{{ data.id }}</h2>
      <h2 class="data_politics_aa2">{{ data.title }}</h2>
      <p class="data_politics_desc">{{ data.desc|safe }}</p>

      <a class="back_button" href="{% url 'politics' %}">← Back to Politics</a>
    </div>
  </div>
</center>
{% endblock %}
