<nav class="nav_bar">
  <div class="logo">
    <h2>Article</h2>
  </div>
  <div class="links">
    <a href="{% url 'home' %}" class="a1">home</a>
    <a href="{% url 'eduaction' %}" class="a3">education</a>
    <a href="{% url 'social_media' %}" class="a4">Social Media</a>
    <a href="{% url 'business' %}" class="a5">Business</a>
    <a href="{%  url 'politics' %}" class="a6">Politics</a>
    <a href="{% url 'goverment' %}" class="a7">Government</a>
    <a href="{% url 'economy' %}" class="a8">Economy</a>
    <a href="{% url 'health' %}" class="a9">Health</a>
    <a href="{% url 'crime' %}" class="a10">Crime</a>
    <a href="{% url 'about' %}" class="a2">about</a>
  </div>
</nav>
